@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --blue: #4169e1;
  --white: #ffffff;
  --black: #474747;
  --green: #22c55e;
  --gray: #f0f0f0;
  --tw-gradient-to: rgb(30 64 175 / 0);
  --tw-gradient-stops: var(--blue), var(--tw-gradient-to);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
